body {
    width: 21cm;
    min-height: 29.7pxcm;
    margin: 0px auto;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #eee;
}
article {    
    padding: 1em;
}
article h1{
    background-color: #409EFF;
    color: #fff;
    font-size: 17px;
}
article a {
    text-decoration:none;
}
article a:hover{
    color: #f00;
}
article section{
    background-color: #fff;
    margin-top: 10px;
}
article > *{
    padding: 1em;
    box-shadow: 2px 2px 2px #bbb;
    border-radius: 4px;
}
.day{
    font-weight: bold;
}
.test{
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    padding: 5px;
    background-color: #67C23A;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 5px #aaa;
}
.test:hover{
    color: #f00;
}
.zt{
    box-sizing: border-box;
    position: fixed;
    bottom:0 ;
    right: 0px;
    height: 100px;
} 
.day4img{
    width: 80%;
}
.day6img{
    width: 31%;
}
section.one{
    position: relative;
}
.gif{
    position: absolute;
    height: 80px;
    right: 5px;
    top: 5px;
    /* left: 0px; */
}
article a:hover{
    color: #F00;
}
a:link{
    text-decoration: none;
    color: #3c3c3c;
}
a:visited {
    text-decoration: none;
    
}